<ng-container *ngIf="model$ | async as model">
  <div class="row mb-10">
    <div class="col-12 mb-6"><h3 class="mb-1">{{'Shop by Category' | translate}}</h3></div>
    <div *ngFor="let item of model.categories" class="col-6 col-lg-3 mb-6">
      <a
        [routerLink]="['/categories', item.id]"
        class="text-decoration-none text-inherit"
      >
        <div class="card card-product">
          <div class="card-body text-center py-8">
            <img [src]="item.imageUrl" [alt]="item.name" class="mb-3" />
            <div class="text-truncate">{{ item.name | translate }}</div>
          </div>
        </div></a
      >
    </div>
  </div>

  <div class="row mb-10" *ngFor="let category of model.featuredCategories">
    <div class="col-12 mb-6">
      <h3 class="mb-1">{{ category.name | translate }}</h3>
    </div>
    <div *ngFor="let product of category.products" class="col mb-6">
      <div class="card card-product">
        <div class="card-body">
          <div class="text-center position-relative">
            <a [routerLink]="['/product', product.id]"
              ><img
                [src]="product.imageUrl"
                [alt]="product.name"
                class="mb-3 img-fluid"
            /></a>
          </div>
          <h2 class="fs-6">
            <a
              [routerLink]="['/product', product.id]"
              class="text-inherit text-decoration-none"
            >
            {{ product.name }}
          </a>
          </h2>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <div><span class="text-dark">${{ product.price }}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-6"><h3 class="mb-1">{{'Stores' | translate}}</h3></div>
    <div class="col-12">
      <div class="mb-4">
        <h6>
          {{'We have' | translate}}
          <span class="text-primary">{{ model.storesCount }}</span> {{'vendors now' | translate}}
        </h6>
      </div>
    </div>
    <div *ngFor="let item of model.stores" class="col-12 col-lg-4 mb-6">
      <div class="card flex-row p-8 card-product">
        <div>
          <img
            [src]="item.logoUrl"
            [alt]="item.name"
            class="rounded-circle icon-shape icon-xl"
          />
        </div>
        <div class="ms-6">
          <h5 class="mb-1">
            <a [routerLink]="['/stores/', item.id]" class="text-inherit">{{
              item.name
            }}</a>
          </h5>
          <div class="small text-muted">
            <ng-container *ngFor="let subitem of item.tags; last as last">
              <span>{{ subitem | translate }}</span
              ><span *ngIf="!last" class="mx-1"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="4"
                  height="4"
                  fill="#C1C7C6"
                  class="bi bi-circle-fill align-middle"
                  viewBox="0 0 16 16"
                >
                  <circle cx="8" cy="8" r="8" />
                </svg>
              </span>
            </ng-container>
          </div>
          <div>
            <div class="badge text-bg-light border">
              {{ item.distanceInMeters | distance:'km':1 }} km
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
